# python basics
### python version 3.7
scripting</br>
object oriented</br>
functional

In [10]:
# PYTHON COMMENTS
print("good afternoon", "!",end="||") # basic output
print("hello google")

good afternoon !||hello google

# assignment

In [13]:
n1=123456 #single varible assignment
n2=n3=n4=n1 # multi variable assignment of the same value

a,b,c=123,234,345 # multi variable assignment

print(a,b,c)

123 234 345

## arithmetic operators

n1%11
n3 = n2 ** 12
type(n3)
len(str(n3))
n3

atoms = 10**82
len(str(atoms))
type(str(atoms))
122321 ** 999

# data types
- int
- float
- string
- double

In [41]:
type(a)
s1 ="python"
type(s1)
f1=12.345
type(f1)

float(str(int(f1)))

12.0

# conditionals

In [49]:
if atoms < 10 ** 9:
    print ("TRUE")
else:
    print("false")

false